# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.dart_tool/
.flutter-plugins
generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Xcode
DerivedData/
*.xcworkspace

# Others
*.log
*.lock
pubspec.lock
*.tmp
*.bak
*.swp
